// base
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  //font-size: 10px;
  margin: 0;
  padding: 0;
  color: $white;
  text-align: center;
  //background-image: url("../img/bg-claro.png")
}
