.di_browserData__container {
  width: 100%;
  padding: 0 0 1rem;
  display: flex;
  justify-content: flex-start;
  border-bottom: 2px solid #212121;

  .di_browserData__logo {
    padding:.5rem 0;
    text-align: center;

    @media (min-width: $bp-small) {
      width: 5rem;
    }

    i {
      display: none;
      font-size: 3rem;
    }
  }

  .di_browserData__data {
    font-size: 1.3rem;
    padding: 0 .8rem;
    color:#8a8a8a;
    span {
      padding-left: .8rem;
      color: $black;
    }
  }
}
